$sno: 0px;
$s01: 1px;
$sxs: 2px;
$ssm: 5px;
$smd: 10px;
$sbt: 15px;  // size.body-text
$set: 12px;  // size.error-text
$slg: 20px;
$sxl: 30px;
$s40: 40px;
$s50: 50px;

$view-margin-top: $sxl;

$view-title-size: $s50;
$view-sub-title-size: $sxl;
$body-title-size: $s40;
$body-sub-title-size: $slg;
$body-text-size: $sbt;
$error-text-size: $set;

$main-color: #ff6f01;
$main-blur-color: #f57f17;
$main-bold-color: #e65100;
$sub-color: #0e47a1;
$sub-blur-color: #00579b;
$sub-bold-color: #006063;
$back-color: #fef8e1;
$back-blur-color: #fffde7;
$back-bold-color: #fff2e0;

$page-bg-color: $back-blur-color;
$view-bg-color: $back-color;

$view-title-color: $main-bold-color;
$view-sub-title-color: $main-color;
$page-title-color: $main-color;
$page-sub-title-color: $main-blur-color;
$page-text-color: $main-color;

$error-text-color: $sub-color;
$error-sub-text-color: $sub-blur-color;
