@import './config';

.aip-auth {
    margin-top: $view-margin-top;
    background-color: $view-bg-color;

    .main-title {
        color: $view-title-color;
        font-size: $view-title-size;
        font-weight: bold; 
        margin-bottom: $s50;
    }
    .sub-title {
        color: $view-sub-title-color;
        font-size: $view-sub-title-size !important;
        margin-top: $slg;
    }

    input {
        color: $page-title-color;
        font-size: $page-text-size;
        font-weight: bold;
        border-bottom: 1px solid $main-bold-color !important;
        
        &:focus {
            background-color: $back-color !important;
        }
    }

    button {
        margin-top: $smd;
    }

    .notify {
        color: $page-text-color;
        font-size: $page-text-size;
        margin-top: $s40;
        margin-bottom: $s40;

        a {
            color: $sub-bold-color;
            font-weight: bold;
        }
    }
    .error-notify {
        height: $slg;
        color: $error-text-color;
        font-size: $error-text-size;
        margin-bottom: $slg;
    }
}

